<footer>
    <div class="f-info mt-3">
        <div class="f-info-socials">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
        <div class = "f-info-brand">&copy; Nomad Nest Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms </a>
        </div>
    </div>
</footer>
